.EmotionItem {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.EmotionItem>.emotionImg {
    width: 50%;
    margin-bottom: 10px;
}

.EmotionItemOn1 {
    color: white;
    background-color: rgb(100, 201, 100);
}

.EmotionItemOn2 {
    color: white;
    background-color: rgb(157, 215, 114);
}

.EmotionItemOn3 {
    color: white;
    background-color: rgb(253, 206, 23);
}

.EmotionItemOn4 {
    color: white;
    background-color: rgb(253, 132, 70);
}

.EmotionItemOn5 {
    color: white;
    background-color: rgb(253, 86, 95);
}